* {
  margin: 0px;
  font-family: "Pixelify Sans", roboto;
}

#grid {
  height: 600px;
  margin: 30px 30px 15px 30px;
}

#carousel {
  text-align: center;
}

.btn {
  width: 100%;
  text-align: center;
}
