* {
  margin: 0px;
  font-family: "Pixelify Sans", roboto;
}

header {
  background-color: FFEDF5ff;
}

#grid {
  height: 575px;
  width: 100%;
  justify-content: center;
  margin: 30px 30px 25px 30px;
}

.btn {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.input {
  align-items: baseline;
  width: fit-content;
}
