* {
  margin: 0px;
  font-family: "Pixelify Sans", roboto;
}

#grid {
  height: 575px;
  margin: 30px 30px 25px 30px;
}

#carousel {
  text-align: center;
}

.btn {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center
}

.input {
  align-items: baseline;
  width: fit-content;
}
